.stay-safe {
  padding: 80px 0px;
}
.stay-safe__container {
  display: flex;
  align-items: center;
}
.stay-safe__media {
  @include flex(0, 1, 50%);
  // text-align: center;
  padding-left: 47px;
}
.stay-safe__content {
  @include flex(0, 1, 50%);
}
.stay-safe__block-text {
}

.media-stay-safe {
  width: 373px;
  // display: inline-block;
  text-align: center;
  position: relative;
  padding: 56px 0px 27px 0px;
}
.media-stay-safe__image {
    display: inline-block;
  filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.12));
  box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  > img {
    display: inline-block;
  }
}
