// font: text-font, code-font(monospace)

  // $main-font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  // $extra-font: 'Merriweather', 'Georgia', serif;

  $font-main: 'Rubik', sans-serif;
  $font-extra: 'Raleway', sans-serif;

// color: main-color, extra-color, text-color

  // $color-main: #00868a;
  $color-primary: #ec5863;
  $color-additional: #4285f4;
  $color-text: #616161;
  $color-link: #000000;
  $color-text-btn: #fcfdfe;

  // $color-light: #ffffff;
  // $color-border: #c4c4c4;
  // $color-hovered: #BCD0E5;
  // $color-heading: #2F281E;
  // $color-link: #1943EF;
  // $color-tag: #F5F5F5;

  // $color-background: #FFEEE1;
  // $color-bg: #e5f3f3;

  // $text-color: rgb(34, 34, 34);
  // $brand-color: rgb(229, 0, 80);
  // $light-grey: rgb(237, 237, 237);
  // $medium-grey: rgb(153, 153, 153);
  // $dark-grey: rgb(68, 68, 68);


// Container's maximum width and breakpoints

$content-width: 1057px;
$content-padding: $content-width + 30px;
$desktop-width: 1200px;
$laptop-width: 992px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
